<% include partials/header %>
    
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <h3>Activity <a href="/admin/act"><i class="fas fa-plus-circle"></i></a></h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Activity</th>
                            <th>Detail</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% activities.forEach(function(a) { %>
                        <tr>
                        <td><%= a.activity_name %></td>
                        <td><%= a.detail %></td>
                        <td><a href="/admin/edit-act/<%= a._id %>"><i class="fas fa-edit"></i></a></td>
                        <td><a href="/admin" class="deleteActivity" data-id="<%= a._id %>"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                <h3>Contact</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>phone</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% persons.forEach(function(person) { %>
                        <tr>
                        <td><%= person.first_name %></td>
                        <td><%= person.last_name %></td>
                        <td><%= person.email %></td>
                        <td><%= person.phone %></td>
                        <td><%= person.description %></td>
                        <td><a href="/admin" class="deleteContact" data-id="<%= person._id %>"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

<% include partials/footer %> 