<% include partials/header %>
    <% if(errors){ %>
        <ul>
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>แก้ไขผลงาน</h3>
                <form method="POST" action="/admin/edit/<%= activities._id %>">
                    <div class="form-group row">
                        <%= activities._id %>
                        <label class="col-sm-10 col-form-label">ชื่อผลงาน</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="activity_name" value="<%= activities.activity_name %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-10 col-form-label">รายละเอียด</label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" rows="5" name="detail"><%= activities.detail %></textarea>
                        </div>
                    </div>
                    <button class="btn btn-secondary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

<% include partials/footer %> 